.header {
    width: 100%;
    padding: 24px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > a {
            text-decoration: none;
        }

        &_logo {
            font-size: 50px;
            font-weight: bold;
            color: #fff;
        }

        &_settings {
            display: flex;
            align-items: center;

            & > span {
                width: 3px;
                height: 56px;
                display: inline-block;
                background-color: #fff;
            }

            &-option {
                background-color: transparent;
                border: none;
                outline: none;
                opacity: .5;
                cursor: pointer;
                pointer-events: auto;

                &.active {
                    opacity: 1;
                    pointer-events: none;
                }
            }
        }
    }
}